/* Adjust the spacing of settings pages */
.settings_page_wavenami_plugin_options #wpbody-content .wrap form .form-table {
	margin-bottom:4em
}

.settings_page_wavenami_plugin_options #wpbody-content .wrap td {
	position: relative;
}

.wavenami-description-text {
    position: absolute;
    left: 380px;
    top: 15px;
    width: 200px;
    font-size: .8em;
    font-style: italic;
}

.wavenami-description-text.alert, .add-group-response {
	font-size: .9em;
	color: red;
}

.wavenami-description-text.alert {
	left:220px;
	width:300px;
}

.add-group-response {
	font-style: italic;
	font-weight: bold;
	display: block;
	margin-top: 8px;
}

.wp-core-ui .wavenami-submit .button-primary {
	margin-right: 1em;
}

input[value="wavenami_account_information"] ~ table.form-table:last-of-type tr:first-child {
    display:none;
}

.settings_page_wavenami_plugin_options #wpbody-content .wrap form input[value="wavenami_account_information"] ~ table.form-table:last-of-type {
	margin-bottom: 0;
}


.wavenami-custom-content-outer {
    position:relative;
}

.wavenami-custom-fields {
	display: inline-block;
}

.wavenami-settings-recaptcha {
	margin: 20px 0 0;
}

#wavenami-check-recaptcha + .form-table tr:not(:first-child) {
	display: none;
}